<% include ../partials/index_partials/head %>

	<div> 
		<form method="post" action="/users/create">
			<input type="email" placeholder="email" name="email"/>
			<input type="text" placeholder="phone" name="phone"/>
			<input type="password" placeholder="********" name="passwd"/>
			<button type="submit">Submit</button>
		</form>
	</div>

<% include ../partials/index_partials/foot %>